/*top*/
	.top{
		height: 34px;
		background-color: #333;
	}
	.top-nav{
		float: left;
		height: 34px;
		width: 678px;
		line-height: 34px;
	}
	.top-item{
		float: left;
	}
	.top-item-a{
		color: #b0b0b0;
		text-decoration: none;
		font-size: 12px;
	}
	.top-item-a:hover{
		color: #fff;
	}
	.top-item>span{
		color: #40403b;
		font-size: 12px;
	}
	.top-car{
		float: right;
		height: 34px;
		width: 130px;
		background-color: #424242;
		font-size: 12px;
		color: #b0b0b0;
		text-align: center;
		line-height: 34px;
	}
	.top-car i{
		font-size: 20px;
	}
	.top-car span{
		vertical-align: 3px;
	}
	.top-car:hover{
		background-color: #fff;
		color: #ff6700;
	}
	.top-user{
		float:right;
		height: 34px;
		width: 180px;
		margin-right: 24px;
		line-height: 34px;
	}
/*nav*/
	.nav{

		background-color: #fff;
	}
	.nav .logo{
		float:left;
		margin-top: 22px;
		margin-right: 150px
	}
	.nav .nav-nav{
		float: left;
		height:100px;


	}
	.nav-ul-li{
		float: left;
		line-height: 100px;
		margin-right: 20px;
	}
	.nav-ul-li a{
		font-size: 18px;
		color: #333;
	}
	.nav-ul-li a:hover{
		color: #ff6700;
	}
	.nav .sousuo{
		float: right;
		position: relative;
		margin-top: 25px;
		height: 50px;
		width: 296px;
	}
	.sousuo input{
		float: left;
		outline: none;
		height: 50px;
		width: 246px;
		padding: 12px;
		border: 1px solid #eee;
		box-sizing: border-box;
	}
	.sousuo input:hover{
		border: 1px solid #999;
	}
	.sousuo input:hover~.sousuo-btn{
		border: 1px solid #999;
		border-left: none;
		height: 50px;
		width: 50px;
		text-align: center;
		line-height: 50px;
	}
	.sousuo input:focus{
		border: 1px solid #ff6700;
	}
	.sousuo input:focus~.sousuo-btn{
		border: 1px solid #ff6700;
		border-left: none;
	}
	.sousuo .hot-word{
		position: absolute;
		top: 16px;
		background-color: #eee;
		color: #757575;
		border:none;
		font-size: 12px;
	}
	.sousuo .hot-word1{
		left: 127px;
		height: 18px;

	}
	.sousuo .hot-word2{
		left: 170px;
		height: 18px;
	}
	.sousuo .hotword:hover{
		background-color: #ff6700;
		color: #fff;
	}
	.sousuo .sousuo-btn{
		float: right;
		height: 50px;
		width: 50px;
		text-align: center;
		line-height: 50px;
		border: 1px solid #eee;
		border-left: none;
		box-sizing: border-box;
	}
/*home*/
	/*lunbo*/
		.home{
			padding-bottom: 42px;
		}
		.lunbo{
			position: relative;
			height:460px;
			background-color: blue;
			margin-bottom: 42px;
		}
		.lunbo-table{
			position: relative;
			height: 460px;
			width: 234px;
			padding-top: 15px;
			background-color: rgba(0,0,0,0.6);
			box-sizing: border-box;
			z-index: 1;
		}
		.lunbo-list{
			line-height: 42px;
			padding-left: 15px;
			padding-right: 15px;
			cursor: pointer;
		}
		.lunbo-list a{
			font-size: 14px;
			color: #fff;
		}
		.lunbo-list a i{
			float:right;
			font-size: 16px;
		}
		.lunbo-list:hover {
			background-color: #ff6700;
		}
		.lunbo-img img{
			position:absolute;
			top:0;
			left:0;
			height: 460px;
			width: 1226px;
		}
		.lr-btn{
			position: absolute;
			top: 190px;
			height: 70px;
			width: 40px;
			font-size: 32px;
			line-height: 70px;
			text-align: center;
			color:#575757;
			cursor: pointer;
		}
		.lr-btn:hover{
			color:#fff;
			background-color: rgba(0,0,0,0.5);
		}
		.left-btn{
			left: 234px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		.right-btn{
			right: 0px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		.dians{
			position:absolute;
			right: 35px;
			bottom: 25px;
		}
		.dian{
			float: right;
			height: 8px;
			width: 8px;
			background-color: #7c8c98;
			border: 2px solid #a4afb6;
			border-radius: 50%;
			margin-left: 10px;
		}
		.dian:hover{
			background-color: #e3f4fd;
			border: 2px solid #889398;
		}
	/*hot*/
		.home-hot{
			margin-bottom: 42px;
		}
		.home-hot-lefts{
			float: left;
		}
		.home-hot-left{
			float: left;
			height: 85px;
			width: 78px;
			background-color: #5f5750;
			color: #cfcdcb;
			text-align: center;
			padding-top: 10px; 
			box-sizing: border-box;
		}
		/*.home-hot-lefts>div:after{
			content: "";			
			height: 70px;
			width: 50px;
			background-color: #000;
		}*/
		.home-hot-left i{
			display: block;
			font-size: 40px;
		}
		.home-hot-rights{
			height: 170px;
		}
		.hot-ad1{
			float: left;
			height: 170px;
			width: 316px;
		}
		.hot-ad1 img{
			height: 100%;
			width: 100%;
		}
		.hot-ad2{
			float: left;
			height: 170px;
			width: 316px;
			margin-left: 15px;
		}
		.hot-ad2 img{
			height: 100%;
			width: 100%;
		}
		.hot-ad3{
			float: left;
			height: 170px;
			width: 316px;
			margin-left: 15px;
		}
		.hot-ad3 img{
			height: 100%;
			width: 100%;
		}
	/*shangou*/
		.shangou{
			height: 340px;
			background-color: blue;
		}
	/*ad*/
		.home .ad{
			margin-bottom: 0;
		}
/*content*/
	.content{
		height: 2136px;
		background-color: #f5f5f5;
	}
	.phone-top{
		height: 80px;
	}
	.phone-content{
		height: 614px;
	}
	.phone-left{
		height: 614px;
	}
	.phone-left img{
		height: 100%;
		width: 100%;
	}
	.phone-right .goods-m:nth-child(1){
		margin-left: 0;
	}
	.phone-right .goods-m:nth-child(5){
		margin-left: 0;
	}

/*foot*/
	.foot{
		height: 284px;
		background-color: tomato;
	}